body{
    padding:175px 0 0 0;
    }
h1{
    margin:0 0 50px 0;
    }
.github-ribbon{
    position:absolute;
    top:0;
    left:0;
    border:0;
    }
.hero-unit{
    position:relative;
    margin:auto;
    width:380px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .hero-unit .result h1{
        font-size:40px;
        }
    .hero-unit .result p{
        font-size:30px;
        }
        .hero-unit .result p a{
            font-size:25px;
            }
#sbmt, #url{
    float:left;
    }
#url{
    width:240px;
}
