body{
    padding:175px 0 0 0;
    }
h1{
    margin:0 0 50px 0;
    }
.github-ribbon{
    position:absolute;
    top:0;
    left:0;
    border:0;
    z-index: 1000;
    }
.hero-unit{
    position:relative;
    margin:auto;
    width:380px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .hero-unit h1{
        font-size:59px;
        }
    .hero-unit .result{
        position: relative;
        }
    .hero-unit .result h1{
        font-size:40px;
        }
    .hero-unit .result div{
        overflow:auto;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        margin: 3px 0px 3px 0;
        }
        .hero-unit .result div p{
            font-size: 30px;
            margin: 5px 3px 9px;
            text-align: center;
            }
            .hero-unit .result div p a{
                font-size:25px;
                }
#sbmt, #url{
    float:left;
    }
#url{
    width:240px;
}
